---
layout: archive
---

{% assign category = page.category | default: page.title %}
<section id="{{ category | slugify | downcase }}" class="taxonomy__section">
  <h2 class="archive__subtitle">{{ category }}</h2>
  <div class="entries-{{ entries_layout }}">
    {% for post in site.categories[category] %}
      {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
</section>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for category in site.categories %}
{% endfor %}
